<p style="color: green"><%= notice %></p>

<%= render @payload %>

<div>
  <%= link_to "Edit this payload", edit_payload_path(@payload) %> |
  <%= link_to "Back to payloads", payloads_path %>

  <%= button_to "Destroy this payload", @payload, method: :delete %>
</div>
