<div id="<%= dom_id driving %>">
  <p>
    <strong>Matricula do Motorista:</strong>
    <%= driving.driver.matricula %>
  </p>

  <p>
    <strong>Nome do Motorista:</strong>
    <%= driving.driver.nome %>
  </p>

  <p>
    <strong>Placa do Veículo:</strong>
    <%= driving.vehicle.placa %>
  </p>

  <p>
    <strong>Data Inicial da Utilização do Veículo:</strong>
    <%= dataTempo(driving.data_inicial) %>
  </p>

  <p>
    <strong>Data Final da Utilização do Veículo:</strong>
    <%if driving.data_final%>
      <%= dataTempo(driving.data_final) %>
    <%end%>
  </p>

</div>
