<div id="<%= dom_id driving %>">
  <p>
    <strong>Driver:</strong>
    <%= driving.driver_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= driving.vehicle_id %>
  </p>

  <p>
    <strong>Data Inicial:</strong>
    <%= driving.data_inicial %>
  </p>

  <p>
    <strong>Data Final:</strong>
    <%= driving.data_final %>
  </p>

</div>
