<div id="<%= dom_id driving %>">
  <p>
    <strong>Driver:</strong>
    <%= driving.driver_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= driving.vehicle_id %>
  </p>

  <p>
    <strong>Data Inicial da Utilização do Veículo:</strong>
    <%= l driving.data_inicial.in_time_zone('Brasilia') %>
  </p>

  <p>
    <strong>Data Final da Utilização do Veículo:</strong>
    <%if driving.data_final%>
      <%= l driving.data_final.in_time_zone('Brasilia') %>
    <%end%>
  </p>

</div>
