<%= form_with(model: driving) do |form| %>
  <% if driving.errors.any? %>
    <div style="color: red">
      <ul>
        <% driving.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :driver_id, "Motorista", style: "display: block" %>
    <%if @driver %>
      <div class="form-control"> <%= @driver.nome%> </div>
      <%= collection_select(:driving, :driver_id, Driver.all, :id, :nome , options = {selected: @driver.id}, html_options = {class: "form-select", hidden: "hidden"}) %>
    <%else%>
      <%= collection_select(:driving, :driver_id, Driver.all, :id, :nome, options = {}, html_options = {class: "form-select"}) %>
    <%end%>
  </div>

  <div>
    <%= form.label :vehicle_id,"Placa do Veículo", style: "display: block" %>
    <%if @vehicle %>
      <div class="form-control"> <%= @vehicle.placa%> </div>
      <%= collection_select(:driving, :vehicle_id, Vehicle.all, :id, :placa , options = {selected: @vehicle.id}, html_options = {class: "form-select", hidden:"hidden"}) %>
    <%else%>
      <%= collection_select(:driving, :vehicle_id, Vehicle.all, :id, :placa , options = {}, html_options = {class: "form-select"}) %>
    <%end%>
  </div>
  <div>
    <br>
    <%= form.submit "Confirmar", class: "btn btn-success"%>
    <%= link_to "Cancelar", "#", data:{
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button btn btn-danger" %>
  </div>
<% end %>
