<%= form_with(model: transporting) do |form| %>
  <% if transporting.errors.any? %>
    <div style="color: red">
      <ul>
        <% transporting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%if @order.status_pedido === "EM ESPERA"%>
      <%= form.label :origem, class: "form-label" %>
      <div class="form-control"> <%= @last_transporting.destino%> </div>
      <%= form.text_field :origem, class:"form-control", value: @last_transporting.destino, hidden: true %>
    <%else%>
      <%= form.label :origem, class: "form-label" %>
      <%= form.text_field :origem, class:"form-control"%>
    <%end%>
  </div>

  <div>
    <%if transporting.destino%>
      <%= form.label :destino, class: "form-label" %>
      <div class="form-control"> <%= transporting.destino%> </div>
      <%= form.text_field :destino, class:"form-control", value: transporting.destino, hidden: true %>
    <%else%>
      <%= form.label :destino, class: "form-label" %>
      <%= form.text_field :destino, class:"form-control"%>
    <%end%>
  </div>

  <div>
    <%= form.label :order_id, "Nfe do Pedido", class: "form-label" %>
    <div class="form-control"> <%= @order.nfe%> </div>
    <%= collection_select(:transporting, :order_id, Order.all, :id, :nfe , options = {selected: @order.id}, html_options = {class: "form-select", hidden:"hidden"}) %>
  </div>

  <div>
    <%= form.label "Código de Rastreio do Pedido", class: "form-label" %>
    <div class="form-control"> <%= @order.codigo_rastreio%> </div>
  </div>

  <div>
    <%= form.label :vehicle_id,"Placa do Veículo", class: "form-label" %>
    <%if @last_transporting%>
      <%= collection_select(:transporting, :vehicle_id, Vehicle.where(situacao:"ATIVO").where.not(id: @last_transporting.vehicle.id), :id, :placa , options = {}, html_options = {class: "form-select"}) %>
    <%else%>
      <%= collection_select(:transporting, :vehicle_id, Vehicle.where(situacao:"ATIVO"), :id, :placa , options = {}, html_options = {class: "form-select"}) %>
    <%end%>
  </div>

  <div>
    <br>
    <%= form.submit "Confirmar", class: "btn btn-success"%>
    <%= link_to "Cancelar", "#", data:{
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button btn btn-danger" %>
  </div>
<% end %>
