<div id="<%= dom_id transporting %>">
  <p>
    <strong>Origem:</strong>
    <%= transporting.origem %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= transporting.destino %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= transporting.order_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= transporting.vehicle_id %>
  </p>

  <p>
    <strong>Data de despache:</strong>
    <%= l transporting.data_despache.in_time_zone('Brasilia') %>
  </p>

  <p>
    <strong>Data de entrega:</strong>
    <%if transporting.data_entrega%>
      <%= l transporting.data_entrega.in_time_zone('Brasilia') %>
    <% end %>
  </p>

</div>
