<div id="<%= dom_id transporting %>">
  <p>
    <strong>Origem:</strong>
    <%= transporting.origem %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= transporting.destino %>
  </p>

  <p>
    <strong>Pedido: </strong>
    <%= transporting.order.codigo_rastreio %>
  </p>

  <p>
    <strong>Placa do Veículo: </strong>
    <%= transporting.vehicle.placa %>
  </p>

  <p>
    <strong>Data de despache:</strong>
    <%= dataTempo(transporting.data_despache) %>
  </p>

  <p>
    <strong>Data de entrega:</strong>
    <%if transporting.data_entrega%>
      <%= dataTempo(transporting.data_entrega) %>
    <% end %>
  </p>

</div>
