<div id="<%= dom_id transporting %>">
  <p>
    <strong>Origem:</strong>
    <%= transporting.origem %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= transporting.destino %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= transporting.order_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= transporting.vehicle_id %>
  </p>

  <p>
    <strong>Datadespache:</strong>
    <%= transporting.data_despache %>
  </p>

  <p>
    <strong>Dataentrega:</strong>
    <%= transporting.data_entrega %>
  </p>

</div>
