<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :danfe, style: "display: block" %>
    <%= form.text_field :danfe %>
  </div>

  <div>
    <%= form.label :nfe, style: "display: block" %>
    <%= form.text_field :nfe %>
  </div>

  <div>
    <%= form.label :endereco_entrega, style: "display: block" %>
    <%= form.text_field :endereco_entrega %>
  </div>

  <div>
    <%= form.label :supplier_id, "Fornecedor"%>
    <%= collection_select(:order, :supplier_id, Supplier.all, :id, :nome) %>
  </div>

  <div>
    <%= form.submit "Confirmar", class: "btn btn-success"%>
    <%= link_to "Cancelar", "#", data:{
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button btn btn-danger" %>
  </div>
<% end %>