<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :danfe, class: "form-label" %>
    <%= form.text_field :danfe, class: "form-control" %>
  </div>

  <div>
    <%= form.label :nfe, class: "form-label" %>
    <%= form.text_field :nfe, class: "form-control" %>
  </div>

  <div>
    <%= form.label :codigo_rastreio, class: "form-label" %>
    <%= form.text_field :codigo_rastreio, class: "form-control" %>
  </div>

  <div>
    <%= form.label :endereco_entrega, class: "form-label" %>
    <%= form.text_field :endereco_entrega, class: "form-control" %>
  </div>

  <div>
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div>
    <%= form.label :supplier_id, "Fornecedor", class: "form-label"%>
    <%= collection_select(:order, :supplier_id, Supplier.all, :id, :nome, options = {}, html_options = {class: "form-select"})%>
  </div>

  <div>
    <br>
    <%= form.submit "Confirmar", class: "btn btn-success"%>
    <%= link_to "Cancelar", "#", data:{
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button btn btn-danger" %>
  </div>
<% end %>