<div id="<%= dom_id order %>">
  <p>
    <strong>Danfe:</strong>
    <%= order.danfe %>
  </p>

  <p>
    <strong>Nfe:</strong>
    <%= order.nfe %>
  </p>

  <p>
  <strong>Endereco entrega:</strong>
  <%= order.endereco_entrega %>
</p>


  <p>
    <strong>Status pedido:</strong>
    <%= order.status_pedido %>
  </p>

  <p>
    <strong>Nome fornecedor:</strong>
    <%= order.nome_fornecedor %>
  </p>

</div>
