<div id="<%= dom_id order %>">
  <p>
    <strong>Danfe:</strong>
    <%= order.danfe %>
  </p>

  <p>
    <strong>Nfe:</strong>
    <%= order.nfe %>
  </p>

  <p>
    <strong>Nome cliente:</strong>
    <%= order.nome_cliente %>
  </p>

  <p>
    <strong>Cpf cliente:</strong>
    <%= order.cpf_cliente %>
  </p>

  <p>
    <strong>Endereco cliente:</strong>
    <%= order.endereco_cliente %>
  </p>

  <p>
    <strong>Status pedido:</strong>
    <%= order.status_pedido %>
  </p>

  <p>
    <strong>Nome fornecedor:</strong>
    <%= order.nome_fornecedor %>
  </p>

</div>
