<%= render partial: "/layouts/navbar" %>

<div class="main-content flex-grow-1 p-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="titulo">Pedidos</h2>
    <div>
      <%= link_to "Adicionar Pedido", url_for(controller: :orders, action: :new), data:{turbo_frame: "modal"}, class: "btn btn-adicionar-pedido"%>
      <%= link_to "Cadastrar Vários Pedidos",url_for(controller: :orders, action: :csv_form), data:{turbo_frame: "modal"}, class: "btn btn-adicionar-pedido"%>
    </div>
  </div>

  <div class="container">
    <%= search_form_for @q do |f| %>
      <div class="d-flex">
        <%= f.search_field :danfe_or_nfe_or_codigo_rastreio_or_status_pedido_or_supplier_nome_cont, placeholder:"Pesquisar" %>
        <button class="btn btn-sm btn-outline-info"><i class="bi bi-search"></i></button>
      </div>
    <% end %>
    <div class="table-responsive shadow-sm p-4 mb-5 bg-white rounded">
      <table class="table table-hover table-borderless align-middle orders-table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><%= sort_link(@q, :danfe, 'DANFE') %></th>
            <th scope="col"><%= sort_link(@q, :nfe, 'NFe') %></th>
            <th scope="col"><%= sort_link(@q, :codigo_rastreio, 'Codigo de Rastreio') %></th>
            <th scope="col"><%= sort_link(@q, :endereco_entrega, 'Endereço Entrega') %></th>
            <th scope="col"><%= sort_link(@q, :status_pedido, 'Status') %></th>
            <th scope="col"><%= sort_link(@q, :supplier_nome, 'Fornecedor') %></th>
            <th scope="col"><%= sort_link(@q, :data_fornecimento, 'Data de Fornecimento') %></th>
            <th scope="col" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each_with_index do |order, index| %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= order.danfe %></td>
              <td><%= order.nfe %></td>
              <td><%= order.codigo_rastreio %></td>
              <td><%= order.endereco_entrega %></td>
              <td>
                <% badge_class = case order.status_pedido
                  when 'ENTREGUE' then 'badge-recebido'
                  when 'PENDENTE' then 'badge-pendente'
                  when 'EM ESPERA' then 'badge-espera'
                  else 'badge-defaut'
                end %>
                <span class="badge rounded-pill <%= badge_class %>">
                  <%= order.status_pedido %>
                </span>
              </td>
              <td><%= @suppliers.find(order.supplier_id).nome %></td>
              <td><%= apenasData(order.data_fornecimento) %></td>
             <td class="text-center">
              <div class="btn-group">
                <%= link_to edit_order_path(order), data:{turbo_frame: "modal"}, class: "btn btn-sm btn-outline-info", title: "Editar" do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
                <%= link_to order_path(order), class: "btn btn-sm btn-outline-info", title: "Detalhar" do %>
                  <i class="bi bi-search"></i>
                <% end %>
                <% if order.status_pedido == "EM ESPERA" || order.status_pedido == "PENDENTE"%>
                  <%= link_to url_for(controller: :transportings, action: :new, id: order.id), data:{turbo_frame:"modal"},  class: "btn btn-sm btn-outline-info", title: "Despachar" do %>
                    <i class="bi bi-arrow-repeat"></i>
                  <% end %>
                  <%= link_to url_for(controller: :transportings, action: :new, id: order.id, for_main_address: true), data:{turbo_frame:"modal"},  class: "btn btn-sm btn-outline-info", title: "Despachar para Endereço de Entrega" do %>
                    <i class="bi bi-truck"></i>
                  <% end %>
                <% end %>
                <% if order.status_pedido == "A CAMINHO" %>
                  <%= form_with(url: mark_as_delivered_orders_path, method: :post) do |form| %>
                      <%= form.hidden_field :id, value: order.id %>
                      <button class="btn btn-sm btn-outline-info"><i class="bi bi-check-lg"></i></button>
                  <% end %>
                <% end %>
                <%= button_to order, method: :delete, class: "btn btn-sm btn-outline-danger", data: { "turbo-method": :delete, 'turbo-confirm': "Você tem Certeza?" }, title: "Deletar" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </div>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Paginação -->
    <div class="d-flex justify-content-center pag">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
