<%= render partial: "/layouts/navbar"%>
<div style="margin-left:1rem">
<h2>Pedidos</h2>
<%= link_to "Adicionar Pedido", new_order_path %>
<div class="container">
  <table class="table table-striped shadow-sm p-3 mb-5 bg-body-tertiary rounded border">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">DANFE</th>
        <th scope="col">NFe</th>
        <th scope="col">Endereco do Entrega</th>
        <th scope="col">Status</th>
        <th scope="col">Nome do Fornecedor</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row">#</th>
          <td><%=order.danfe%></th>
          <td><%=order.nfe%></th>
          <td><%=order.endereco_entrega%></th>
          <td><%=order.status_pedido%></th>
          <td><%=order.nome_fornecedor%></th>
          <td><%= link_to "Editar", edit_order_path(order) %> - <%= button_to "Deletar", order, method: :delete %></th>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
</div>