<div id="<%= dom_id driver %>">
  <p>
    <strong>Nome:</strong>
    <%= driver.nome %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= driver.matricula %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= driver.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= driver.telefone %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= driver.login %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= driver.senha %>
  </p>

</div>
