<%= form_with(model: driver) do |form| %>
  <% if driver.errors.any? %>
    <div style="color: red">
      <ul>
        <% driver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div>
    <%= form.label :matricula, class: "form-label" %>
    <%= form.text_field :matricula, class: "form-control" %>
  </div>

  <div>
    <%= form.label :endereco, class: "form-label" %>
    <%= form.text_field :endereco, class: "form-control" %>
  </div>

  <div>
    <%= form.label :telefone, class: "form-label" %>
    <%= form.text_field :telefone, class: "form-control" %>
  </div>

  <div>
    <%= form.label :login, class: "form-label" %>
    <%= form.text_field :login, class: "form-control" %>
  </div>

  <div>
    <%= form.label :senha, class: "form-label" %>
    <%= form.password_field :senha, class: "form-control" %>
  </div>

  <div>
    <br>
    <%= form.submit "Confirmar", class: "btn btn-success"%>
    <%= link_to "Cancelar", "#", data:{
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button btn btn-danger" %>
  </div>
<% end %>
