<%= render partial: "/layouts/navbar" %>
<div class="main-content flex-grow-1 p-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="titulo">Motoristas</h2>
    <%= link_to "Adicionar Motorista", new_driver_path, data:{turbo_frame: "modal"}, class: "btn btn-adicionar-pedido" %>
  </div>

  <div class="container-fluid">
    <%= search_form_for @q do |f| %>
      <%= f.label :nome_or_matricula_or_endereco_or_telefone_or_situacao_cont , "Pesquisa"%>
      <%= f.search_field :nome_or_matricula_or_endereco_or_telefone_or_situacao_cont %>
      <%= f.submit %>
    <% end %>
    <div class="table-responsive shadow-sm p-4 mb-5 bg-white rounded">
      <table class="table table-hover table-borderless align-middle">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><%= sort_link(@q, :nome, 'Nome') %></th>
            <th scope="col"><%= sort_link(@q, :matricula, 'Matricula') %></th>
            <th scope="col"><%= sort_link(@q, :endereco, 'Endereço') %></th>
            <th scope="col"><%= sort_link(@q, :telefone, 'Telefone') %></th>
            <th scope="col"><%= sort_link(@q, :situacao, 'Situacao') %></th>
            <th scope="col" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @drivers.each_with_index do |driver, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= driver.nome %></td>
              <td><%= driver.matricula %></td>
              <td><%= driver.endereco %></td>
              <td><%= driver.telefone %></td>
              <td>
                <% badge_class = case driver.situacao
                  when 'ATIVO' then 'badge-ativo'
                  when 'INATIVO' then 'badge-inativo'
                  else 'badge-defaut'
                end %>
                <span class="badge rounded-pill <%= badge_class %>">
                  <%= driver.situacao %>
                </span>

              </td>
              <td class="text-center">
                <div class="btn-group">
                  <%= link_to edit_driver_path(driver), data:{turbo_frame: "modal"}, class: "btn btn-sm btn-outline-info", title: "Editar" do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                  <%= link_to driver_path(driver), class: "btn btn-sm btn-outline-info", title: "Detalhar" do %>
                    <i class="bi bi-search"></i>
                  <% end %>
                  <%= button_to driver, method: :delete, class: "btn btn-sm btn-outline-danger", data: { "turbo-method": :delete, 'turbo-confirm': "Você tem Certeza?" }, title: "Deletar" do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                  <% if driver.situacao == "ATIVO"%>
                    <%= link_to url_for(controller: :drivings, action: :unlink, id: driver.id, is_driver: true), class: "opcao", data:{turbo_frame: "modal"}, title:"Vincular Veículo" do%>
                      <span> Desvincular Veículo</span>
                    <% end%>
                  <% else %>
                    <%= link_to url_for(controller: :drivings, action: :new, id: driver.id, is_driver: true), class: "opcao", data:{turbo_frame: "modal"}, title:"Vincular Veículo" do%>
                      <span> Vincular Veículo</span>
                    <% end%>
                  <% end%>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Paginação -->
    <div class="d-flex justify-content-center pag">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>