<%= render partial: "/layouts/navbar"%>
<div style="margin-left:1rem">
<h2>Motoristas</h2>
<%= link_to "Adicionar Motorista", new_driver_path %>
<div class="container">
  <table class="table table-striped shadow-sm p-3 mb-5 bg-body-tertiary rounded border">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Matricula</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
        <th scope="col">Situação</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <th scope="row">#</th>
          <td><%=driver.nome%></th>
          <td><%=driver.matricula%></th>
          <td><%=driver.endereco%></th>
          <td><%=driver.telefone%></th>
          <td><%=driver.situacao%></th>
          <td><%= link_to "Editar", edit_driver_path(driver) %> - <%= button_to "Deletar", driver, method: :delete %></th>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
</div>