<%= render partial: "/layouts/navbar" %>
<div class="main-content flex-grow-1 p-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="titulo">Entregas Realizadas</h2>
  </div>

<div class="container-fluid">
    <div class="table-responsive shadow-sm p-4 mb-5 bg-white rounded">
      <table class="table table-hover table-borderless align-middle orders-table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo de Rastreio</th>
            <th scope="col">Endereço Origem</th>
            <th scope="col">Endereço Destino</th>
            <th scope="col">Status</th>
            <th scope="col">Data de Despacho</th>
            <th scope="col" class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% @last_orders.each_with_index do |order, index| %>
            <%if order.status_pedido == "A CAMINHO"%>
                <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= order.codigo_rastreio %></td>
                <td><%= order.transporting.last.origem %></td>
                <td><%= order.transporting.last.destino %></td>
                <td>
                    <% badge_class = case order.status_pedido
                    when 'ENTREGUE' then 'badge-recebido'
                    when 'PENDENTE' then 'badge-pendente'
                    when 'EM ESPERA' then 'badge-espera'
                    else 'badge-defaut'
                    end %>
                    <span class="badge rounded-pill <%= badge_class %>">
                    <%= order.status_pedido %>
                    </span>
                </td>
                <td><%= apenasData(order.transporting.last.data_despache) %></td>
                <td class="text-center">
                <div class="btn-group">
                    <%= link_to order_path(order), class: "btn btn-sm btn-outline-info", title: "Detalhar" do %>
                    <i class="bi bi-search"></i>
                    <% end %>
                    <% if order.status_pedido == "A CAMINHO" %>
                    <%= link_to url_for(controller: :orders, action: :mark_as_delivered, id: order.id), class: "btn btn-sm btn-outline-info", title: "Marcar como Entregue" do %>
                    <i class="bi bi-check-lg"></i>
                    <% end %>
                    <% end %>
                </div>
                </td>
                </tr>
            <%end%>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>