<%= render partial: "/layouts/navbar" %>

<div class="main-content flex-grow-1 p-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="titulo">Motorista -  <%= @driver.nome%></h2>
  </div>
  <div class="container-fluid">
  <div class="card p-4 shadow-sm mb-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h4  class="info-titulo">Nome</h4>
        <p class="info-conteudo"><%= @driver.nome%></p>
      </div>
      <div class="col-md-6 mb-3">
        <h4  class="info-titulo">Matrícula</h4>
        <p class="info-conteudo"><%=@driver.matricula%></p>
      </div>
      
      <div class="col-md-6 mb-3">
        <h4  class="info-titulo">Endereço</h4>
        <p class="info-conteudo"><%=@driver.endereco%></p>
      </div>
      <div class="col-md-6 mb-3">
        <h4  class="info-titulo">Telefone</h4>
        <p class="info-conteudo"><%=@driver.telefone%></p>
      </div>
      <div class="col-md-6 mb-3">
        <h4  class="info-titulo">Situacao</h4>
        <p class="info-conteudo"><%=@driver.situacao%></p>
      </div>
      <div class="col-md-6 mb-3">
        <h4  class="info-titulo">Login</h4>
        <p class="info-conteudo"><%=@driver.login%></p>
      </div>
    </div>
  </div>

  <div class="card p-4 shadow-sm mt-5">
    <h3 class="titulo">Histórico de Veículos do Motorista</h3>
    <% @drivings.each do |driving|%>
        <div>
          <%= render driving%>
          <hr>
        </div>
      <%end%>
  </div>
</div>
</div>
