<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div style="color: red">
      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :placa, class: "form-label" %>
    <%= form.text_field :placa, class: "form-control" %>
  </div>

  <div>
    <%= form.label :modelo, class: "form-label" %>
    <%= form.text_field :modelo, class: "form-control" %>
  </div>

  <div>
    <br>
    <%= form.submit "Confirmar", class: "btn btn-success"%>
    <%= link_to "Cancelar", "#", data:{
          controller: "modals",
          action: "modals#close"
        }, class: "cancel-button btn btn-danger" %>
  </div>
<% end %>
