<div class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar bg-body-tertiary p-3" style="min-width: 200px;">
    <div class="sidebar-header d-flex align-items-center mb-3">
      <img src="https://i.im.ge/2024/09/13/fzsYXM.logo.jpeg" alt="Logo" class="me-2 sidebar-logo rounded-circle">
      <span class="fs-4">Hermes</span>
    </div>
    <ul class="nav flex-column">
      <%if user_signed_in?%>
        <li class="nav-item">
          <a class="nav-link  d-flex align-items-center" href="/">
            <i class="bi bi-house-door me-2"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  d-flex align-items-center" href="/orders">
            <i class="bi bi-bag me-2"></i>Pedidos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/drivers">
            <i class="bi bi-person-badge me-2"></i>Motoristas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/vehicles">
            <i class="bi bi-truck me-2"></i>Veículos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/users">
            <i class="bi bi-people me-2"></i>Usuários
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/suppliers">
            <i class="bi bi-cart me-2"></i>Fornecedores
          </a>
        </li>
        <li class="nav-item">
            <%= button_to destroy_user_session_path, method: :delete, class: "nav-link d-flex align-items-center" do%>
              <i class="bi bi-box-arrow-left me-2"></i>Sair
            <%end%>
        </li>
      <%elsif driver_signed_in?%>
        <li class="nav-item">
          <a class="nav-link  d-flex align-items-center" href="/">
            <i class="bi bi-house-door me-2"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <%= link_to url_for(controller: :drivers, action: :profile), class: "nav-link d-flex align-items-center" do%>
              <i class="bi bi-person-badge me-2"></i>Perfil
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to url_for(controller: :drivers, action: :orders, id: current_driver.id), class: "nav-link d-flex align-items-center" do%>
                <i class="bi bi-bag me-2"></i>Pedidos para Entregar
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to url_for(controller: :drivers, action: :orders_history, id: current_driver.id), class: "nav-link d-flex align-items-center" do%>
                <i class="bi bi-truck me-2"></i>Histórico de Pedidos
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to url_for(controller: :drivers, action: :vehicles_history, id: current_driver.id), class: "nav-link d-flex align-items-center" do%>
                <i class="bi bi-truck me-2"></i>Histórico de Veículos
          <%end%>
        </li>
        <li class="nav-item">
            <%= button_to destroy_driver_session_path, method: :delete, class: "nav-link d-flex align-items-center" do%>
              <i class="bi bi-box-arrow-left me-2"></i>Sair
            <%end%>
        </li>
  
       
       <%end%>  
     
    </ul>
  </div>
  <!-- Main content 
  <div class="flex-grow-1 p-4 bg-white" >
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Bem vindo ao Hermes 👋</h2>
      <div class="d-flex align-items-center">
      <img src="https://images.unsplash.com/photo-1664575600850-c4b712e6e2bf?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile" class="profile" style="width: 40px;">
        <div class="me-3">
          <p>Alesia Karpova</p>
          <span class="badge bg-secondary">Administrador</span>
        </div>
      </div>
    </div>    
  </div>
  -->
</div>